makerbase/LINE_BOT/code/node-red-code/20180623.js
[{ "id": "2247ddcf.b5a6b2", "type": "tab", "label": "Flow 1", "disabled": false, "info": "" }, { "id": "799ac11f.8e37", "type": "ui_base", "theme": { "name": "theme-light", "lightTheme": { "default": "#0094CE", "baseColor": "#0094CE", "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif", "edited": true, "reset": false }, "darkTheme": { "default": "#097479", "baseColor": "#097479", "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif", "edited": false }, "customTheme": { "name": "Untitled Theme 1", "default": "#4B7930", "baseColor": "#4B7930", "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif" }, "themeState": { "base-color": { "default": "#0094CE", "value": "#0094CE", "edited": false }, "page-titlebar-backgroundColor": { "value": "#0094CE", "edited": false }, "page-backgroundColor": { "value": "#fafafa", "edited": false }, "page-sidebar-backgroundColor": { "value": "#ffffff", "edited": false }, "group-textColor": { "value": "#1bbfff", "edited": false }, "group-borderColor": { "value": "#ffffff", "edited": false }, "group-backgroundColor": { "value": "#ffffff", "edited": false }, "widget-textColor": { "value": "#111111", "edited": false }, "widget-backgroundColor": { "value": "#0094ce", "edited": false }, "widget-borderColor": { "value": "#ffffff", "edited": false }, "base-font": { "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif" } } }, "site": { "name": "Node-RED Dashboard", "hideToolbar": "false", "allowSwipe": "false", "allowTempTheme": "true", "dateFormat": "DD/MM/YYYY", "sizes": { "sx": 48, "sy": 48, "gx": 6, "gy": 6, "cx": 6, "cy": 6, "px": 0, "py": 0 } } }, { "id": "92c9c0cc.bbfd7", "type": "ui_tab", "name": "Tab 1", "icon": "dashboard", "order": 1 }, { "id": "ae98c35d.6bc1d", "type": "ui_tab", "name": "Tab 2", "icon": "dashboard", "order": 2 }, { "id": "222d96bf.64e24a", "type": "ui_group", "name": "Group 1", "tab": "92c9c0cc.bbfd7", "order": 1, "disp": true, "width": 6 }, { "id": "ef23a04b.782468", "type": "http request", "z": "2247ddcf.b5a6b2", "name": "", "method": "GET", "ret": "obj", "url": "http://opendata2.epa.gov.tw/AQI.json", "tls": "", "x": 500, "y": 200, "wires": [["1e012d38.3aea7b", "e1b39e5f.9409d8"]] }, { "id": "1e012d38.3aea7b", "type": "debug", "z": "2247ddcf.b5a6b2", "name": "", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "payload", "x": 740, "y": 220, "wires": [] }, { "id": "70b852e8.a2a814", "type": "inject", "z": "2247ddcf.b5a6b2", "name": "", "topic": "", "payload": "", "payloadType": "date", "repeat": "", "crontab": "", "once": false, "onceDelay": "3", "x": 260, "y": 200, "wires": [["ef23a04b.782468"]] }, { "id": "e1b39e5f.9409d8", "type": "function", "z": "2247ddcf.b5a6b2", "name": "", "func": "var a = msg.payload;\na.forEach(function(e,i){if(e.SiteName=='前鎮'){msg.AQI=e['AQI'];msg.payload=msg.AQI;}});return msg;", "outputs": 1, "noerr": 0, "x": 740, "y": 360, "wires": [["381daea3.cdf4da"]] }, { "id": "381daea3.cdf4da", "type": "debug", "z": "2247ddcf.b5a6b2", "name": "", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "AQI", "x": 890, "y": 380, "wires": [] }, { "id": "c5950a69.19d7c", "type": "e-mail", "z": "2247ddcf.b5a6b2", "server": "smtp.gmail.com", "port": "465", "secure": true, "name": "", "dname": "", "x": 880, "y": 560, "wires": [] }, { "id": "fc8cb325.9e7758", "type": "inject", "z": "2247ddcf.b5a6b2", "name": "", "topic": "", "payload": "", "payloadType": "date", "repeat": "", "crontab": "", "once": false, "onceDelay": 0.1, "x": 260, "y": 420, "wires": [["c5950a69.19d7c"]] }]